{{log this}}
<header class="webkite-results-header">
  {{>sorts this.sort}}
  {{>filters this.filters}}
</header>

{{#if items.length}}
{{#with items}}
<table>
  <thead class="until-xs">
    <tr>
      <th class="image-thumbnail"></th>
      <th class="webkite-name webkite-apply-sort">
        {{#if (contains ../sort.sortableFacets "Name")}}
        <a href="#" data-sort="Name" class="{{../../currentDirection}}">Name</a>
        {{else}}
        <span>Name</span>
        {{/if}}
      </th>
      <th class="webkite-review until-xs"><span class="md-only">Review Summary</span></th>
      <th class="webkite-date until-sm"><span>Posted On</span></th>
      <th class="open-toggle"></th>
    </tr>
  </thead>
  {{#each this}}
  <tbody>
    <tr class="webkite-result">      
      <td class="image-thumbnail until-xs">
        {{#facet name="Image URL"}}<div class="image-thumbnail" style="background-image:url({{displayValue}});"></div>{{/facet}}
      </td>
      <td class="webkite-name">
        <ul>
          <li>
            {{#facet name="Name"}}<h2>{{displayValue}}</h2>{{/facet}} 
          </li>
          <li class="xs-only">
	          <b>review summary</b>
        		{{#facet name="Review Summary"}}
        		<span class="facet-values summary">
        			<p>{{displayValue}}</p>
        		</span>
        		{{/facet}}
          </li>
        	<li class="xs-only">
            {{#facet name="Review URL"}}
            <span class="facet-values">
              <a href="{{displayValue}}">Full Review</a>
            </span>
            {{/facet}}
        	</li>
        	<li class="xs-only">
          	<b>posted on</b>
            {{#facet name="Review Date"}}<span class="facet-values">{{displayValue}}</span>{{/facet}}
        	</li>
        </ul>
      </td>
      <td class="webkite-review until-xs">
        <ul>
        	<li>
        		<b class="sm-only">review summary</b>
        		{{#facet name="Review Summary"}}
        		<span class="facet-values summary">
        			<p>{{displayValue}}</p>
        		</span>
        		{{/facet}}
        	</li>
					<li class="until-xs">
            {{#facet name="Review URL"}}
            <span class="facet-values">
              <a href="{{displayValue}}">Full Review</a>
            </span>
            {{/facet}}
        	</li>
        	<li class="sm-only">
          	<b>posted on</b>
            {{#facet name="Review Date"}}<span class="facet-values">{{displayValue}}</span>{{/facet}}
        	</li>
        </ul>
      </td>
      <td class="webkite-date md-only">
        <ul>
        	<li>{{#facet name="Review Date"}}<span class="facet-values">{{displayValue}}</span>{{/facet}}</li>
        </ul>
      </td>
      <td class="open-toggle">
        <a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler {{#if showDetails}}webkite-hide{{/if}} more-button" data-target=".{{this.id}}-toggler" data-animate="200ms"></a>
      	<a href="#{{this.id}}" data-id={{this.id}} class="webkite-toggle-item webkite-toggle {{this.id}}-toggler {{#unless showDetails}}webkite-hide{{/unless}} less-button" data-target=".{{this.id}}-toggler" data-animate="200ms"></a>
      </td>
    </tr>
    <tr id="{{this.id}}" class="webkite-item-details">{{>result-details}}</tr>
  </tbody>
  {{/each}}
</table>
{{/with}}
{{else}}
<section class="webkite-no-results">
  <h2>Sorry, no results</h2>
  <p>There are no results to display based on the selected filters. Try removing a filter to see more results.</p>
  <footer class="webkite-result-footer"></footer>
</section>
{{/if}}

<footer class="webkite-results-footer">
  <div class="webkite-branding-area"><a></a></div>
  <div class="webkite-pagination-area">{{>paginator pagination}}</div>
</footer>
